[submodule "Devise"]
	path = Devise
	url = https://github.com/SergioBenitez/Devise
[submodule "Rocket"]
	path = Rocket
	url = https://github.com/SergioBenitez/Rocket
[submodule "rust-url"]
	path = rust-url
	url = https://github.com/servo/rust-url
